 <!-- Footer -->


    <footer>


        <div class="footer-top">


            <div class="footer-brand">


                <h3>
                    RentWise
                </h3>


                <p>
                    The most trusted rental marketplace in Nigeria for verified homes and secure deals.
                </p>


            </div>



            <div class="footer-links">


                <a href="#">
                    About Us
                </a>


                <a href="#">
                    Contact
                </a>


                <a href="#">
                    Terms of Service
                </a>


                <a href="#">
                    Privacy Policy
                </a>


                <a href="#">
                    Nigeria (NGN)
                </a>


            </div>



        </div>




        <div class="footer-bottom">


            <p>
                © 2026 RentWise Nigeria. Verified & Secure.
            </p>


        </div>



    </footer>