 <!-- Navbar -->
    <header class="navbar">

        <div class="logo">
            RentWise
        </div>


        <nav class="desktop-nav">
            <a href="#">Rentals</a>
            <a href="#">Verification</a>
            <a href="#">Help</a>
        </nav>


        <div class="nav-right">

            <a href="#">
                Login
            </a>

            <button>
                List your property
            </button>

        </div>



        <div class="menu" id="menu-btn">
            ☰
        </div>



        <div class="mobile-nav" id="mobile-nav">

            <a href="#">
                Rentals
            </a>

            <a href="#">
                Verification
            </a>

            <a href="#">
                Help
            </a>


            <a href="#">
                Login
            </a>


            <button>
                List your property
            </button>


        </div>


    </header>