<header class="property-navbar">


    <div class="logo">

        RentWise

    </div>



    <nav>


        <a href="#" class="active">

            Rentals

        </a>


        <a href="#">
            Verification
        </a>


        <a href="#">
            Help
        </a>


    </nav>




    <div class="property-search">


        <span>
            🔍
        </span>


        <input id="location-search" placeholder="Search by location...">


    </div>





    <div class="nav-actions">


        <a href="#">
            List your property
        </a>



        <button>

            Login

        </button>



    </div>



</header>